#carousel-container{
    width: 800px;
    height: 500px;
    background-color: aquamarine;
    margin: 0 auto;
}

.btn{
    z-index: 2;
}

article{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
article div{
    width: 100%;
    height: 110px;
    color: white;
    transform: translateY(-100%);
    padding-top: 1rem;
}

img{
    width: 100%;
    object-position: center;
}
/* .my-img{
    width: 100%;
    object-position: center;
    object-fit: cover;
} */