#carousel-container{
    width: 800px;
    height: 400px;
    background-color: aquamarine;
    margin: 0 auto;/* 
    overflow: hidden; */
}

.btn{
    z-index: 2;
}

/* .my-img{
    width: 100%;
    object-position: center;
    object-fit: cover;
} */